.container-fluid{
    background-color: rgb(247, 215, 173);
    background-size: cover;
} 
.jumbotron{
    background-image: url(/images/images.jpeg);
}

#form {
    text-align: center;
}

.button{
    align-items: center;
}
img{
    width: 100%;
    height: 380px;
}
h2{
    font-family: 'Nanum Pen Script', cursive;
    text-align: center;
    color: white;
}
p{
    text-align: center;
    color: black;
    font-family: 'Josefin Slab', serif;
    font-size: 1.5em;
}
.result>p{
    border: brown solid 1px;
    padding: 5px;
    background-color: rgb(96, 247, 239);
}

h1{
    font-family: 'Cinzel Decorative', cursive;
    border-bottom: darkgoldenrod solid 2px;
    text-align: center;
    color: white;
}
.description{
    color: rgb(10, 10, 10);
    background-color: rgb(247, 215, 173);
}